<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ob1_arm">
    <xacro:macro name="arm_gazebo" params="prefix">
        <gazebo reference="${prefix}_base_link">
            <selfCollide>true</selfCollide>
        </gazebo>
        <gazebo reference="${prefix}_shoulder_link">
            <selfCollide>true</selfCollide>
        </gazebo>
        <gazebo reference="${prefix}_arm_link">
            <selfCollide>true</selfCollide>
        </gazebo>
        <gazebo reference="${prefix}_elbow_link">
            <selfCollide>true</selfCollide>
        </gazebo>
        <gazebo reference="${prefix}_forearm_link">
            <selfCollide>true</selfCollide>
        </gazebo>
        <gazebo reference="${prefix}_gripper_assembly_link">
            <selfCollide>true</selfCollide>
        </gazebo>
    </xacro:macro>
</robot>