[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
pytest-repeat = "*"
pytest-html = "*"
scipy = "*"
pyaml = "*"
rospkg = "*"
pyquaternion = "*"
kinpy = "*"
orjson = "*"
h5py = "*"

[dev-packages]

[requires]
python_version = "3.8"
